{% extends 'base.html' %}

{% block content %}
<section class="section habit-list">
  <h2 class="title is-size-2">Your Habits<h2>
  <ul class="habit-list">
    {% for habit in habits %}
    <li class="habit-item"><a href={% url 'habit_detail' habit_pk=habit.pk %}>{{habit.title}}</a></li>
    {% endfor %}
  <ul>
</section>
<section class="section habit-form">
  <h2 class="title is-size-3">Add a new habit to the list!</h2>
  {% include 'habit_tracker/_habit_form.html'%}
</section>
{% endblock content %}
